<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

{% extends 'todo/base.html' %}

{% block content %}

<div class="row justify-content-center mt-4">
    <div class="col-md-8 text-center">
        <h1>Create</h1>

        <h2>{{ error }}</h2>

        <form method="POST">
            {% csrf_token %}
       <div class="h4">    {{ form.as_p }} </div>
            <br>
            <button type="submit" class="btn btn-outline-dark btn-lg">Create</button>
        </form>

{% endblock %}
</div>
    </div>

</body>
</html>