<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CurrentToDos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

{% extends 'todo/base.html' %}

{% block content %}

<br>
<h1>Current:</h1>
<br>
    <ol class="h4">
        {% for todo in todos %}
            <li>
                <a href="{% url 'viewtodo' todo.id %}" style="color: black" class="h4" >
                    {% if todo.important %}
                        <b>
                        {{ todo.title }}
                        </b>
                    {% else %}
                        {{ todo.title }}
                    {% endif %}

                    {% if todo.memo %} - {{ todo.memo }}{% endif %}
                </a>
            </li>
        {% endfor %}
    </ol>

{% endblock %}

</body>
</html>